NEXT_PUBLIC_API_URL= Your API URL

#IN NEED
NEXTAUTH_SECRET=0f2f80a24f16da8197bedd954f4690b52818482166dcf2bca750c4dcc514ec20 {SECRET KEY FOR ENCRPT SESSION}
NEXTAUTH_URL=http://localhost:3000   {This is for local development}
NEXT_PUBLIC_PWD_ENCRYPTION_KEY=mytestkeyasdddds  {THIS KEYS NEED TO BE MATCH WITH API KEY THAT HAVE 16 CHARACTERS}